services:
#  app:
#    build: .
#    ports:
#      - "3000:3000"
#    environment:
#      - DATABASE_URL=postgres://postgres:password@db:5432/noble_db?sslmode=disable
#    depends_on:
#      - db
#    restart: unless-stopped

  db:
    image: postgres:17
    container_name: nouble_db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=noble
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  db-data:
